<footer>
        
</footer>
</div>
</body>
<script src="scripts/plusminus.js"></script>
<script src="scripts/copyToClipboard.js"></script>
<script src="scripts/generate.js"></script>
<!-- <script>
    // document.getElementById("length-"+length);
    // console.log("length-"+length);
</script> -->
<!-- <script>
    $(document).ready(function() {
    const minusButton = document.getElementById("button--decrement");
    const plusButton = document.getElementById("button--increment");
    const numberField = document.getElementById("paragraphs");
    // console.log(numberField.value);
    
    minusButton.addEventListener("click", () => {
      if (numberField.value > 0) {
        numberField.value --;
        // console.log("stract"+numberField.value);
      }
    });

    plusButton.addEventListener("click", () => {
      if (numberField.value < 99) {
        numberField.value ++;
        // console.log("add");
      }
    });
  });
</script> -->
</html>
