<footer>
        
</footer>
</div>
</body>
<script src="scripts/plusminus.js"></script>
<script src="scripts/copyToClipboard.js"></script>
<script src="scripts/generate.js"></script>
<script src="scripts/popup.js"></script>
<!-- <script>
  $(document).ready(function() {
    $('#scroll__link').click(function() {
        $(this).toggleClass('scroll-active');
    });
});
</script> -->
</html>
