<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lorem Pigsum | Pig Latin Oremlay Ipsumyay</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/frs1taw.css">


    <link rel="stylesheet" href="styles.css" />

    <!-- this script saves scroll position on redirect/re-render -->
    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
          var scrollpos = sessionStorage.getItem('scrollpos');
          if (scrollpos) {
              window.scrollTo(0, scrollpos);
              sessionStorage.removeItem('scrollpos');
          }
      });
  
      window.addEventListener("beforeunload", function (e) {
          sessionStorage.setItem('scrollpos', window.scrollY);
      });
  </script>

  <script src="https://kit.fontawesome.com/6d04e716d5.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="content-wrapper">
      <header class="header">
        <a href="" class="header__logo">
          <h1 class="header__title">Lorem Pigsum</h1>
        </a>
        <h2 class="header__text header__text--subtitle">The Pig Latin Lorem Ipsum generator</h2>
        <p class="header__text">(Ethay Igpay Atinlay Oremlay Ipsumyay eneratorgay)</p>
      </header>